:root {
    --pink: #f14e95;
    --bg: #676767;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    --smaller: 0.75
}

body {
    font-size: 1.2rem;
    font-family:'Work Sans', sans-serif;
}

.hero {
    background-color: var(--bg);
}

.hero h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: white;
    background-color: var(--pink);
}
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  body {
    background: #333C4B;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  